header.svelte-btbnnm.svelte-btbnnm{width:100vw;min-height:100vh}header.svelte-btbnnm.svelte-btbnnm,div.svelte-btbnnm.svelte-btbnnm{display:grid;justify-items:center}#org-logo.svelte-btbnnm.svelte-btbnnm{margin:2rem 0}a.svelte-btbnnm.svelte-btbnnm{margin:1rem 0}a.svelte-btbnnm #whatsapp-logo.svelte-btbnnm{width:2rem;height:2rem;max-height:2rem}section.svelte-btbnnm.svelte-btbnnm{display:grid;place-items:center;margin-top:2.5rem;padding-bottom:.5rem}section.svelte-btbnnm p.svelte-btbnnm{margin:1.5rem 10vw;text-align:center}
